{% extends "dashboard_template.html" %}
{% load static %}
{% block link %}

<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Job Application</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">job aplication</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section class="content">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Data Lamaran Pekerjaan</h3>
            </div>
            <div class="card-tools">
                <a href="/apply/" style="margin-left: 20px; margin-top: 10px;" class="btn btn-success"><i
                        class="fas fa-plus-square"></i> Tambah Data</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Nama Pelamar</th>
                            <th>Nomor HP</th>
                            <th>Email</th>
                            <th>date</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for applicant in applicants %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{applicant.name}}</td>
                            <td>{{applicant.phone}}</td>
                            <td>{{applicant.email}}</td>
                            <td>{{applicant.uploaded_at}}</td>
                            <td><a href="#" data-toggle="modal" data-target="#modal-default{{ forloop.counter }}"><i
                                        class="fas fa-info-circle" style="color: blue;"></i> {{applicant.document}}</a>
                            </td>
                            <div class="modal fade" id="modal-default{{ forloop.counter }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Detail</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card box-shadow ">
                                                <div class="card-body d-flex flex-column align-items-start">
                                                    <strong class="d-inline-block mb-2 text-primary">{{applicant.uploaded_at}}</strong>
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="#">{{applicant.name}}</a>
                                                    </h3>
                                                    <div class="mb-1 text-muted">{{applicant.phone}}</div>
                                                    <div class="mb-1 text-muted">{{applicant.email}}</div>
                                                    <a href="#">open document</a>
                                                </div>
                                                <img class="card-img-right flex-auto d-none d-md-block"
                                                    data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]"
                                                    style="width: 200px; height: 250px;"
                                                    src="https://source.unsplash.com/random"
                                                    data-holder-rendered="true">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            {% endfor %}

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
</div>
</section>
{% endblock %}
{% block script %}

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
{% endblock %}

</body>

</html>